---
import PRODUCTS from "../../data/products.json";
import type { Product } from "../../types/index";
const products: Product[] = JSON.parse(JSON.stringify(PRODUCTS));
---

<script>
  const closeBtn: HTMLButtonElement | null =
    document.querySelector(".close-btn");
  const backdrop: HTMLDivElement | null = document.querySelector(".backdrop");
  const modal: HTMLDivElement | null = document.querySelector(".cta-modal");

  const closeModal = function () {
    backdrop && backdrop.classList.add("hidden");
    modal && modal.classList.add("hidden");
  };

  /** Add click event listener to the close button */
  closeBtn?.addEventListener("click", closeModal);

  /** Remove the click event listener before the window unloads */
  window.addEventListener("beforeunload", () => {
    closeBtn?.removeEventListener("click", closeModal);
  });
</script>

<div
  class="backdrop | hidden bg-backdrop w-full h-[400rem] md:h-[320rem] fixed top-0 left-0"
>
</div>
<div
  class="cta-modal | hidden absolute w-11/12 md:w-min -top-24 left-1/2 -translate-x-1/2 h-content bg-white rounded-2xl xl:w-max min-w-fit max-w-screen-lg px-16 py-20"
>
  <button class="close-btn | absolute top-16 right-14">
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M11.314 0l2.828 2.828L9.9 7.071l4.243 4.243-2.828 2.828L7.07 9.9l-4.243 4.243L0 11.314 4.242 7.07 0 2.828 2.828 0l4.243 4.242L11.314 0z"
        fill="#000"
        fill-rule="evenodd"
        opacity=".4"></path></svg
    >
  </button>
  <h1 class="text-4xl font-bold">Back this project</h1>
  <p class="my-14 text-darkGray text-2xl">
    Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the
    world?
  </p>
  <div class="cards | flex flex-col gap-12">
    <div
      class="card | text-start outline outline-offset-2 outline-1 outline-gray-300 rounded-2xl px-12 py-16 w-content-max hover:cursor-pointer hover:outline hover:outline-cyan-moderate hover:scale-105 ease-linear duration-150"
    >
      <div class="flex items-baseline gap-4">
        <input
          type="radio"
          id="pledge-25"
          class="accent-cyan-moderate w-6 h-6 hover:cursor-pointer"
        />
        <h1 class="text-2xl font-bold">Pledge with no reward</h1>
      </div>
      <p class="text-2xl my-6 text-darkGray mx-auto pl-10 leading-relaxed">
        Choose to support us without a reward if you simply believe in our
        project. As a backer you will be signed up to receive product updates
        via email.
      </p>
    </div>
    {
      products.map((product: Product) => (
        <div class="card | text-start outline outline-offset-2 outline-1 outline-gray-300 rounded-2xl px-12 py-16 w-content-max hover:cursor-pointer hover:outline hover:outline-cyan-moderate hover:scale-105 ease-linear duration-150">
          <div class="grid grid-cols-3 items-baseline">
            <div class="flex items-center gap-4 col-start-1 col-end-3 xl:col-end-auto">
              <input
                type="radio"
                id="pledge-25"
                class="accent-cyan-moderate w-6 h-6 hover:cursor-pointer"
              />
              <h1 class="text-2xl font-bold">{product.title}</h1>
            </div>
            <h2 class="text-cyan-moderate text-xl font-bold mt-4 row-start-2 col-start-1 col-end-4 ml-12 xl:row-start-1 xl:col-start-2 xl:col-end-3 xl:justify-self-start">
              Pledge ${product.price} or more
            </h2>
            <h2 class="col-start-3 row-start-1 justify-self-end">
              <span class="text-3xl font-bold mr-2">{product.quantity}</span>
              <span class="text-3xl text-darkGray">left</span>
            </h2>
          </div>
          <p class="text-2xl my-6 text-darkGray mx-auto pl-10 leading-relaxed">
            {product.content}
          </p>
          <hr class="text-gray-300 w-full" />
          <div class="pledge | flex flex-col gap-y-8 sm:gap-y-0 sm:flex-row justify-between mt-12 text-2xl items-center justify-center">
            <div>
              <input
                class="text-darkGray mb-8 sm:mb-0 focus:outline-none focus:placeholder:text-cyan-moderate"
                placeholder="Enter your pledge"
              />
            </div>
            <div class="flex flex-col sm:flex-row gap-y-8 sm:gap-y-0 sm:gap-x-4">
              <button class="font-bold w-80 sm:w-32 px-6 py-5 outline outline-gray-300 text-darkGray rounded-full drop-shadow-md hover:bg-cyan-dark hover:text-white hover:outline-none hover:drop-shadow-xl hover:scale-105 active:bg-cyan-dark active:drop-shadow-none active:scale-100 duration-150 ease-linear">
                $&nbsp;{product.price}
              </button>
              <button class="font-bold w-80 bg-cyan-moderate text-white sm:w-max px-6 py-5 rounded-full drop-shadow-md hover:bg-cyan-dark hover:drop-shadow-xl hover:scale-105 active:bg-cyan-dark active:drop-shadow-none active:scale-100 duration-150 ease-linear">
                Continue
              </button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
